<!DOCTYPE html>
<html>
  <head>
    <title>Repository Browser</title>

    <link rel="stylesheet" href="/stylesheets/vendor/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/style.css{{cachebust}}" />

    {{#reload}}
      <script src="/socket.io/socket.io.js"></script>
      <script src="/javascripts/reload-client.js"></script>
    {{/reload}}

    {{#optimize}}
      <script src="/javascripts/main-built.js"></script>
    {{/optimize}}

    {{^optimize}}
      <script src="/javascripts/vendor/require.js" data-main="/javascripts/main.js"></script>
    {{/optimize}}

  </head>
  <body>
  </body>
</html>